name: "CI/CD pipeline"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - main

env:
  registry_url: ghcr.io
  image_name: steam-games-list

jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set application version
        id: set_version
        uses: kvendingoldo/git-flow-action@v2.2.0
        with:
          enable_github_release: true
          auto_release_branches: ""
          tag_prefix_release: "v"
          github_token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Build docker image and push it
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ env.registry_url }}/${{ env.image_name }}:latest
            ${{ env.registry_url }}/${{ env.image_name }}:${{ steps.set_version.outputs.safe_version }}
